# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
README.md
LICENSE.txt
LICENSE-Paulscode SoundSystem CodecIBXM.txt
LICENSE-Paulscode IBXM Library.txt

